<%- include("header") %>

    <div class="box" id="heading">
        <h1>About Page</h1>
    </div>

    <div class="box">
        <p>This is the about page and it contains information about the website</p>
    </div>

<%- include("footer") %>